<div class="mb-3">
  <input
    type="{{ type }}"
    [class.is-invalid]="control.touched && control.invalid"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label }}"
  />
  <div class="invalid-feedback" *ngIf="control.errors?.['required']">
    Please enter a {{ label }}
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
    {{ label }} must have at least
    {{control.errors?.['minlength'].requiredLength}} characters
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">
    {{ label }} must have at most
    {{control.errors?.['maxlength'].requiredLength}} characters
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['noMatching']">
    {{ labelPlural ? labelPlural : label + "s" }} do not match
  </div>
  <div class="invalid-feedback" *ngIf="control.errors?.['email']">
    The email address is not valid
  </div>
</div>
